{% extends 'base.html.twig' %} {% block body %}
    <div class="container pb-5">
        <h2 style="font-size: 30px;" class="text-primary text-center mt-5">O NÁS</h2>
        {% include 'components/breadcrumb_navigation.html.twig' with breadcrumbs %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div>
                    <h2 class="text-uppercase pb-5">Kdo jsme?</h2>
                    <p>
                        <b>CITY-DOG.CZ</b>
                        je Vaším průvodcem pro život ve městě. Věnujeme se oblastem jako je jídlo,
                        cestování, móda, literatura. Představujeme zajímavé lidi a seznamujeme čtenáře s aktuálními
                        událostmi a unikátními místy. Našim cílem je být Vaším každodenním průvodcem. Podporujeme
                        zajímavé akce a snažíme se upozorňovat na důležitá společenská témata. Původní zaměření na Prahu
                        postupně rozšiřujeme i na ostatní města. Naši čtenáři jsou zejména lidé v produktivním věku se
                        zájmem o svět kolem sebe, trendy a aktuální dění.
                    </p>
                    <p>
                        City-dog.cz je malý nezávislý magazín, původně vzniknul jako sesterský projekt značky
                        CityDog.by. Dnes je City-dog.cz v českých rukách.
                    </p>
                    <p>
                        Použití materiálů City.dog.cz je povoleno pouze s písemným souhlasem redakce.
                    </p>
                    <p>
                        Pokud nás chcete kontaktovat, napište nám prosím na náš Facebook.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="text-uppercase font-weight-extra-bold text-primary d-flex align-items-center border-top pt-3 my-5 border-width-2">
                <img class="mr-2" src="/images/svg/shield.svg" alt="shield"> Právní informace
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div>
                    <h2 class="text-uppercase pb-5">PRÁVNÍ INFORMACE</h2>
                    <p>
                        Provozovatelem této webové stránky je společnost CEE Media s.r.o., IČO: 08748993, se sídlem
                        Bratranců Veverkových 680, Zelené Předměstí, 53002 Pardubice zapsaná v obchodním rejstříku
                        vedenému Krajského soudu v Hradci Králové, oddíl C, vložka 44991
                    </p>
                    <p>
                        Použití materiálů <b>CITY-DOG.CZ</b> je možné pouze s písemným svolením redakce. Kontaktujte nás
                        prosím na našem Facebooku.
                    </p>
                    <p>
                        Je vyžadován aktivní přímý hypertextový odkaz na stránku <b>CITY-DOG.CZ</b> obsahující původní
                        publikaci.
                    </p>
                    <p>
                        Jakékoliv změny textu, záhlaví, fotografie <b>CITY-DOG.CZ</b> jsou zakázány.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}