{% if showSeznam %}
<div
  id="ssp-{{ zoneId }}"
  class="d-md-none ad-show-xs ad-show-sm m-auto"
  data-szn-ssp-ad="{&quot;zoneId&quot;: {{
    zoneId
  }}, &quot;id&quot;: &quot;ssp-{{
    zoneId
  }}&quot;, &quot;width&quot;: 480, &quot;height&quot;: 480}"
></div>
{% endif %}
