{#<div class="ad-popup d-block d-sm-none hidden" id="showPopUp">#}
{#    <div class="container">#}
{#        <div id="showPopUp" class="ad-show-xs" data-szn-ssp-ad='{"zoneId": 183211, "id": "showPopUp", "width": 320, "height": 100}'>#}

{#        </div>#}
{#        <a href="" id="seznam-pop-up-ad-close">Zavřít reklamu</a>#}
{#    </div>#}

{#</div>#}