{% if showSeznam %}
    <div id="ssp-{{ zoneId }}"
         data-szn-ssp-ad='{"zoneId": {{ zoneId }}, "id": "ssp-{{ zoneId }}", "width": 300, "height": 600}'
         class="my-3 ad-sky ad-side-300w ad-show-lg ad-show-xl"></div>
{% endif %}
