.ad-31Oh {
  max-height: 310px;
  max-width: 970px;
  background-color: transparent;
}

.before-footer-ad {
  margin: auto;
  max-height: 310px;
  max-width: 970px;
  background-color: transparent;
}

@include media-breakpoint-down(lg){
  .before-footer-ad {
    display: none;
  }
};

.before-navbar-ad {
  margin: auto;
  max-height: 210px;
  max-width: 970px;
  background-color: transparent;
}

.ad-side-300w {
  max-width: 300px;
  max-height: 600px;
  background-color: transparent;
}

.ad-sky{
  top: 115px;
  position: sticky;
}

.ad-side-300w-300h {
  max-width: 300px;
  max-height: 300px;
  background-color: transparent;
}

@include media-breakpoint-down(sm) {
  .ad-31Oh {
    max-height: 100px;
    max-width: 100%;
  }
  .before-footer-ad {
    max-height: 100px;
  }
}