.main-btn {
  background-color: #B7926A;
  color: white !important;
  height: 55px;
  width: 175px;
  font-family: "Circe Extra Bold", sans-serif;
  font-weight: 800;
  padding: 12px;
  font-size: 18px;
}

.main-btn.gallery-btn {
  height: 44px;
  width: 140px;
  padding: 10px 0;
  font-size: 16px;

  img {
    height: 24px
  }
}

.main-btn:hover {
  background-color: black;
  color: white;
}

.navbar-btn {
  width: 90px;
  height: 30px;
  font-size: 14px;
  padding: 4px 0;
  font-family: "Circe Regular", sans-serif !important;
}

.popular-articles-navigation {
  width: 300px;
  background-color: #FAFAFA;

  li {
    background-color: #FAFAFA;
  }
}

.btn-search {
  width: 130px;
}

.up-btn-wrapper {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 1000;

  .up-btn {
    opacity: 0.5;
    transition: opacity 0.15s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}

.close.my-close {
  font-size: 40px;
  color: white;
}

.close.myclose:hover {
  color: white;
}

.show-more-btn {
  display: block;
  line-height: 20px;
  border: 0;
  background-color: #fd593d;
  color: white;
  border-radius: 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 9px 10px 8px;
  max-width: 160px;
  width: 100%;
  margin: auto
}