.comment-avatar{
  border: 5px solid #f1ede6;
  border-radius: 64px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 74px;
  height: 74px;
}
@include media-breakpoint-down(sm){
  .comment-avatar{
    border-width: 3px;
    width: 45px;
    height: 45px;
  }
}
.answer-comment-a{
  color: #fd593d;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 10px;
}
.answer-comment-a:hover{
  color: #fd593d;
  text-decoration: none;
}
.mdc-text-field {
  height: 56px;
  border-radius: 4px 4px 0 0;
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.mdc-text-field__input {
  border-bottom-color: rgba(0,0,0,.42);
}
.mdc-line-ripple{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: 2;
}
