.comment-form{
  label, .my-label{
    font-size: 10px;
    letter-spacing: 1px;
  }
  input, textarea{
    border-radius: 0;
  }
  .comments-share a {
    height: 26px;
    min-width: 117px;
    letter-spacing: 0.25px;
    padding: 4px 10px;
    border-radius: 3px;
    font: 14px/14px 'circe-regular', Arial, Verdana, sans-serif;
    width: auto;
    margin: 0 15px 14px 0;
  }
  .social-login_btn.facebook {
    margin-left: 0;
    background-color: #37589A;
    color: white;
  }
  .social-login_btn.twitter {
    background-color: #28c3f9;
    color: white;
  }
  .comments-email-reg{
    input{
      width: 254px;
      font-size: 12px;
      margin-right: 22px;
      margin-top: 20px;
    }
  }
  .upload-comment{
    a{
      color: #fd593d;
      margin: 20px 0;
      display: block;
    }
    .comment-submit{
      display: block;
      line-height: 20px;
      border: 0;
      background-color: #fd593d;
      color: white;
      border-radius: 20px;
      font-size: 10px;
      letter-spacing: 0.08em;
      padding: 9px 10px 8px;
      max-width: 330px;
      width: 100%;
    }
  }
}