@font-face {
  src: url('../public/fonts/circe-extra-bold_webfont.ttf'), url('../public/fonts/circe-extra-bold_webfont.eot'), url('../public/fonts/circe-extra-bold_webfont.woff'), url('../public/fonts/circe-extra-bold_webfont.svg');
  font-family: "Circe Extra Bold";
}

@font-face {
  src: url('../public/fonts/circe-regular_webfont.ttf'), url('../public/fonts/circe-regular_webfont.eot'), url('../public/fonts/circe-regular_webfont.woff'), url('../public/fonts/circe-regular_webfont.svg');
  font-family: "Circe Regular";
}

@font-face {
    src: url('../public/fonts/circe-bold_webfont.ttf'), url('../public/fonts/circe-bold_webfont.eot'), url('../public/fonts/circe-bold_webfont.woff'), url('../public/fonts/circe-bold_webfont.svg');
    font-family: "Circe Bold";
}

h3, .font-weight-medium {
  font-family: 'Circe Bold', sans-serif;
}

div {
  font-family: 'Circe Regular', sans-serif;
  font-size: 16px;

  & .font-weight-bold {
    font-family: 'Circe Extra Bold', sans-serif;
  }
}

p, .font-pt-serif {
  font-family: 'PT Serif', serif !important;
}

h1, h2, h4, h5, h6, .nav-link, .font-weight-extra-bold {
  font-family: 'Circe Extra Bold', sans-serif !important;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

.fs-30 {
  font-size: 30px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-12 {
  font-size: 12px;
}
