<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon"
          type="image/png"
          href="/images/png/City_dog_favicon.png">
    <title>Citydog.cz</title>
    <style>
        body{
            color: black;
            text-align: center;
        }
        @font-face {
            src: url("/fonts/circe_extra_bold.ttf");
            font-family: "Circe Extra Bold";
        }

        @font-face {
            src: url("/fonts/circe_regular.otf");
            font-family: "Circe Regular";
        }
        h2{
            color: #B7926A;
        }
        h2, h3{
            font-family: 'Circe Extra Bold', sans-serif;
            font-size: 30px;
        }
        p, a{
            font-family: "Circe Regular", sans-serif;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h2>Vybrali jste podporu částkou {{ castka }} Kč</h2>
    <img style="max-width: 100%" src="{{ qrImage }}" alt="logo">
<h3>Děkujeme za vaši podporu</h3>
<p>Platební bránu připravujeme.<br>
    Pro platbu použijte QR kód nebo zadejte platbu ručně na náš účet 232689417/0600
</p>
    <a href="{{ path('homepage') }}">Zpět na úvod</a>
</body>
</html>
