{% extends 'base_no_footer.html.twig' %}
{% block body %}
    <div style="background-color: black;">
        <div class="container p-0 overflow-hidden">
            <div class="row py-3">
                <div class="col-md-8">
                    <div class="position-relative" style="min-height: 40px;">
                        <a class="close my-close" href="{{ path('article_detail', {'url':url }) }}">&times;</a>
                        <div class="d-none d-md-flex align-items-center justify-content-center">
                            {% if page > 1 %}
                                <a href="{{ path('gallery', {'url':url, 'page':(page-1)}) }}"><img
                                            src="/images/svg/arrow_left_white.svg" alt="arrow_left_white"></a>
                            {% endif %}
                            <div class="text-primary fs-30 m-4"><span>{{ page }}</span>/<span>{{ count }}</span></div>
                            {% if page < count %}
                                <a href="{{ path('gallery', {'url':url, 'page':(page+1)}) }}"><img
                                            src="/images/svg/arrow_right_white.svg" alt="arrow_right_white"></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="position-relative mb-5" id="carouselControls">
                        <img class="gallery-image" src="{{ vich_uploader_asset(image, 'imageFile') }}"
                             alt="{{ image.description }}">
                        {% if page > 1 %}
                            <a class="carousel-control-prev m-0"
                               href="{{ path('gallery', {'url':url, 'page':(page-1)}) }}">
                                <img style="transform: rotate(-90deg);" src="/images/svg/Up.svg"
                                     alt="carousel_arrow_left">
                            </a>
                        {% endif %}
                        {% if page < count %}
                            <a class="carousel-control-next m-0"
                               href="{{ path('gallery', {'url':url, 'page':(page+1)}) }}">
                                <img style="transform: rotate(90deg);" src="/images/svg/Up.svg"
                                     alt="carousel_arrow_right">
                            </a>
                        {% endif %}
                        <div class="d-flex justify-content-between pt-2">
                            <div class="text-white d-md-block d-none font-weight-bold">{{ image.description }}</div>
                            <p style="font-size: 10px;" class="text-white text-right m-0">ZDROJ:
                                {{ source }}</p>
                        </div>
                    </div>
                    <div class="font-weight-bold d-block d-md-none text-white text-center">{{ image.description }}</div>
                    <div class="d-flex d-md-none align-items-center justify-content-center">
                        {% if page > 1 %}
                            <a href="{{ path('gallery', {'url':url, 'page':(page-1)}) }}"><img
                                        src="/images/svg/arrow_left_white.svg" alt="arrow_left_white"></a>
                        {% endif %}
                        <div class="text-primary fs-30 m-4"><span>{{ page }}</span>/<span>{{ count }}</span></div>
                        {% if page < count %}
                            <a href="{{ path('gallery', {'url':url, 'page':(page+1)}) }}"><img
                                        src="/images/svg/arrow_right_white.svg" alt="arrow_right_white"></a>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-4 d-none d-md-block">
                    {% include 'components/ads/ad_side_300x600.html.twig' with {'zoneId': 124167 ,'showSeznam': showSeznam} %}
                </div>
            </div>
            {% include 'components/ads/ad_970x310.html.twig' with {'showSeznam': showSeznam} %}
            {% include 'components/ads/ad_480x480.html.twig' with {'showSeznam': showSeznam, 'zoneId': 183206} %}
        </div>
    </div>

{% endblock %}
