<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Citydog.cz | {{ controller_name }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/dist/index.css">
        <script defer id="ssp-script" src="https://ssp.imedia.cz/static/js/ssp.js"></script>
    </head>
    <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v6.0"></script>
        {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
        <script src="/dist/index.js"></script>
        {% block javascripts %}
        {% endblock %}
    <script>
        var sspScript = document.getElementById('ssp-script');
        sspScript.addEventListener('load', function() {
            sssp.getAdsByTags();
        });
        </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111342073-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-111342073-1');
    </script>
    </body>
</html>
