<div class="navbar-top-divider"></div>
<footer style="background-color: #F3F3F3;">
    <div class="container-fluid py-4">
        <div class="row align-items-center">
            <div class="col-lg-4 offset-xl-1 d-flex order-4 order-lg-1 justify-content-center">
                <div class="d-lg-block d-none">
                    <img src="/images/svg/Logo_paticka.svg" width="100px" height="150px" class="mx-5"
                         alt="logo_paticka">
                </div>
                <div class="mt-3">
                    <div class="pb-3 d-flex d-md-block flex-column align-items-center">
                        <div class="d-flex d-md-block">
                            <div>CEE Media s.r.o.</div>
                        </div>
                        <div>IČO: 08748993</div>
                    </div>
                    <div class="font-raleway-regular text-muted" style="font-size: 12px;">Publikování nebo další šíření
                        obsahu serveru je bez písemného souhlasu zakázáno. Podrobnosti <a href="{{ path('privacy') }}">zde</a>.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 my-3 order-1 order-lg-2 justify-content-center d-flex">
                <ul class="nav flex-md-column flex-row justify-content-center justify-content-md-start">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-dark py-1" href="{{ path('about') }}">O nás</a>
                    </li>
                    <div class="font-weight-bold d-block d-md-none">/</div>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-dark py-1" href="{{ path('redaction') }}">Redakce</a>
                    </li>
                    <div class="font-weight-bold d-block d-md-none">/</div>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-dark py-1" href="{{ path('redaction') }}#inzerce">inzerujte
                            u nás</a>
                    </li>
                    <div class="font-weight-bold d-block d-md-none">/</div>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-dark py-1" href="{{ path('privacy') }}">soukromí</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-2 my-3 order-3 d-flex align-items-center flex-column">
                <a  href="" id="openPopupMobile"
                   class="d-inline-block d-lg-none mb-3 btn main-btn rounded-0 font-weight-bold d-flex align-items-center p-2 text-nowrap fs-16"
                   style="width: 200px"><img class="mr-2" src="/images/svg/heart.svg"
                                                              alt="heart">PODPOŘTE NÁS</a>
                <div class="text-center font-raleway-regular pb-3" style="font-size: 14px;">Žijeme i na sociálních
                    sítích
                </div>
                <div class="social w-100 d-flex justify-content-center">
                    <a href="" class="mx-2" target="_blank">
                        <img src="/images/svg/RSS.svg" alt="rss_icon">
                        <img class="hover" width="25px" height="25px" src="/images/svg/RSS_black.svg"
                             alt="rss_icon_hover">
                    </a>
                    <a href="https://www.facebook.com/CityDog.cz" target="_blank" class="mx-2">
                        <img src="/images/svg/Facebook.svg" alt="fb_icon">
                        <img class="hover" width="25px" height="25px" src="/images/svg/Facebook_black.svg"
                             alt="fb_icon_hover">
                    </a>
                    <a href="https://www.instagram.com/city_dogcz/" target="_blank" class="mx-2">
                        <img src="/images/svg/Instagram.svg" alt="insta_icon">
                        <img class="hover" width="25px" height="25px" src="/images/svg/Instagram_black.svg"
                             alt="insta_icon_hover">
                    </a>
                </div>

            </div>
            <div class="col-lg-3 order-2 order-lg-4 d-lg-block d-none">
                <div class="font-raleway-regular pb-3" style="font-size: 14px; width: 270px;">Věnujeme se oblastem, jako
                    je jídlo, móda a literatura, představujeme zajímavé lidi.
                    <span class="color-first font-weight-bold">Našim cílem je být Vaším
                        každodenním průvodcem.</span></div>
                <a href="" id="openPopup" class="btn main-btn rounded-0 d-flex align-items-center justify-content-center p-2 text-nowrap fs-16"
                   style="width: 200px"><img class="mr-2" src="/images/svg/heart.svg"
                                                              alt="heart">PODPOŘTE NÁS</a>
            </div>
        </div>
    </div>
</footer>