{% set route = app.request.get('_route') %}
<div class="navbar-container">
    <div class="navbar-top-divider"></div>
    <div class="container p-0">
        <nav class="navbar navbar-expand-xl navbar-light nav-border p-0">
            <div class="p-2 mobile d-flex align-items-center justify-content-between">
                <a class="navbar-brand m-2" href="{{ path('homepage') }}"><img src="/images/svg/Logo_menu.svg"
                                                                               alt="logo_menu"></a>
                <div class="d-inline d-xl-none">
                    <div class="btn-group d-inline">
                        <button class="btn my-2 my-sm-0 search" data-toggle="modal" data-target="#searchModalMobile">
                            <img src="/images/svg/magnify.svg" alt="magnify">
                            <img class="hover" src="/images/svg/magnify_black.svg" alt="magnify_hover">
                        </button>
                    </div>
                    <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <img src="/images/svg/menu.svg" alt="menu">
                    </button>
                    <div class="modal fade search-modal" id="searchModalMobile" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form action="{{ path('search') }}" method="post" class="px-2 d-flex w-100">
                                        <input type="text"
                                               class="form-control rounded-0 border-primary border-0 p-3 w-auto d-inline-block flex-grow-1 fs-18"
                                               id="search_phrase" name="search_phrase" placeholder="Co hledáte?">
                                        <button type="submit" class="btn btn-link border-0"><img
                                                    src="/images/svg/magnify.svg" alt="magnify"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="margin d-block d-xl-flex justify-content-between w-100">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-uppercase {% if breadcrumbs %}{{ 'Lidé' in breadcrumbs[1]['name'] ? 'active' }}{% endif %}"
                               href="{{ path('article_category', {'category' : 'ikony'}) }}">lidé</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase {% if breadcrumbs %}{{ 'Jídlo' in breadcrumbs[1]['name'] ? 'active' }}{% endif %}"
                               href="{{ path('article_category', {'category' : 'horka-stopa'}) }}">jídlo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase {% if breadcrumbs %}{{ 'Události' in breadcrumbs[1]['name'] ? 'active' }}{% endif %}"
                               href="{{ path('article_category', {'category' : 'udalosti'}) }}">události</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase {% if breadcrumbs %}{{ 'Tema' in breadcrumbs[1]['name'] ? 'active' }}{% endif %}"
                               href="{{ path('article_category', {'category' : 'tema'}) }}">téma</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link text-uppercase dropdown-toggle {% if breadcrumbs %}{{ 'Mesta' in breadcrumbs[1]['name'] ? 'active' }}{% endif %}"
                                   href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">města</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('article_category', {'category' : 'praha'}) }}">Praha</a>
                                    <a class="dropdown-item" href="{{ path('article_category', {'category' : 'brno'}) }}">Brno</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase {{ 'street_food' in route ? 'active' }}"
                               href="{{ path('street_food') }}">street food mapa</a>
                        </li>
                    </ul>

                    <div class="navbar-buttons d-flex align-items-sm-center flex-column flex-sm-row align-items-start">

                        <button class="btn my-2 my-sm-0 search d-xl-inline-block d-none" data-toggle="modal"
                                data-target="#searchModal">
                            <img src="/images/svg/magnify.svg" alt="magnify">
                            <img class="hover" src="/images/svg/magnify_black.svg" alt="magnify_hover">
                        </button>

                        <div class="modal fade search-modal" id="searchModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="container">
                                            <form action="{{ path('search') }}" method="post" class="px-2 d-flex w-100">
                                                <input type="text"
                                                       class="form-control rounded-0 border-primary border-0 p-3 w-auto d-inline-block flex-grow-1 fs-18"
                                                       id="search_phrase" name="search_phrase"
                                                       placeholder="Co hledáte?">
                                                <button type="submit" class="btn btn-link border-0"><img
                                                            src="/images/svg/magnify.svg" alt="magnify"></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <a href="{{ path('about') }}" class="mx-1 btn main-btn text-uppercase rounded-0 navbar-btn"
                           style="font-weight: 400;">o nás</a>
                        <a href="{{ path('redaction') }}#inzerce"
                           class="mx-1 btn main-btn text-uppercase rounded-0 navbar-btn"
                           style="font-weight: 400;">inzerujte</a>
                        <div class="social my-2">
                            <a href="{{ path('app_feed') }}" class="mx-2" target="_blank">
                                <img src="/images/svg/RSS.svg" alt="rss_icon">
                                <img class="hover" width="25px" height="25px" src="/images/svg/RSS_black.svg"
                                     alt="rss_icon_hover">
                            </a>
                            <a href="https://www.facebook.com/CityDog.cz" target="_blank" class="mx-2">
                                <img src="/images/svg/Facebook.svg" alt="fb_icon">
                                <img class="hover" width="25px" height="25px" src="/images/svg/Facebook_black.svg"
                                     alt="fb_icon_hover">
                            </a>
                            <a href="https://www.instagram.com/city_dogcz/" target="_blank" class="mx-2">
                                <img src="/images/svg/Instagram.svg" alt="insta_icon">
                                <img class="hover" width="25px" height="25px" src="/images/svg/Instagram_black.svg"
                                     alt="insta_icon_hover">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

