<div class="commnent" id="comment_{{ comment.id }}">
    <div class="comment-body mt-4 d-flex flex-md-row flex-column">
        <div class="d-flex align-items-center align-items-md-start pb-2">
            <div class="comment-avatar mr-3 mx-md-3" style="background-image: url('/images/png/avatar_def.png')">
            </div>
            <div class="pb-2 d-block d-md-none">
                <div class="font-weight-bold comment-author">
                    {{ comment.name }}
                </div>
                <div class="fs-12 text-muted"><span class="date">{{ comment.createDate|date('d.m.Y') }}</span> <span
                            class="time">{{ comment.createDate|date('H:i') }}</span></div>
            </div>
        </div>
        <div class="flex-grow-1">
            <div class="pb-2 d-none d-md-block">
                <div class="font-weight-bold comment-author">
                    {{ comment.fullName }}
                </div>
                <div class="fs-12 text-muted"><span class="date">20.02</span> <span class="time">09:20</span></div>
            </div>
            <div class="">{{ comment.commentClear|raw }}</div>
            <div class="fs-12 d-flex justify-content-end mt-2">
                <a class="answer-comment-a" data-reply-to-id="{{ comment.id }}" data-reply-to-name="{{ comment.name }}"
                   href="#commentForm">ODPOVĚDĚT</a>
            </div>
            {% if not comment.parent  and comment.children.count > 0 %}
            <div class="fs-12 d-flex">
                <a class="answer-comment-a" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseRepliess"
                   href="#collapseReplies{{ comment.id }}">zobrazit {{ comment.children.count }} odpovědí</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="{{ (comment.parent == null) ? 'collapse' : '' }}" id="collapseReplies{{ comment.id }}">
    {% for response in comment.children %}
        <div class="comment-response ml-4">
            {% include 'components/comment.html.twig' with {'comment': response} %}
        </div>
    {% endfor %}
    </div>
</div>
