<div class="position-fixed support-popup-wrapper align-items-center" id="supportPopup">
    <div class="container support-popup position-relative">
        <div class="row">
            <div class="col-md-6 col-lg-5 offset-lg-1">
                <img src="/images/svg/heart.svg" class="d-block my-3" alt="heart">
                <h3 class="text-white">Líbí se vám náš obsah?<br>
                    <span class="text-underlined">Podpořte nás!</span></h3>
                <p class="fs-18 text-white">Jsme nezávislé médium bez velkých investorů či zahraničních vlastníků. Proto
                    budeme
                    rádi, pokud nám projevíte svou přízeň prostřednictvím malého příspěvku. Děkujeme!</p>
            </div>
            <div class="col-md-6 col-lg-5 d-flex flex-column justify-content-center align-items-center">
                <div class="fs-20 pb-2">Podpořte nás a pošlete nám:</div>
                <div class="d-flex">
                    <div class="mx-3 d-flex flex-column">
                        <img src="/images/svg/20crowns.svg" alt="20crowns">
                        <a href="{{ path('support', {'castka': 20}) }}" class="btn btn-outline-secondary rounded-0 border-width-2 p-0 my-2 fs-20 text-center">20 Kč</a>
                    </div>
                    <div class="mx-3 d-flex flex-column">
                        <img src="/images/svg/50crowns.svg" alt="50crowns">
                        <a href="{{ path('support', {'castka': 50}) }}" class="btn btn-outline-secondary rounded-0 border-width-2 p-0 my-2 fs-20 text-center">50 Kč</a>
                    </div>
                    <div class="mx-3 d-flex flex-column">
                        <img src="/images/svg/100crowns.svg" alt="100crowns">
                        <a href="{{ path('support', {'castka': 100}) }}" class="btn btn-outline-secondary rounded-0 border-width-2 p-0 my-2 fs-20 text-center">100 Kč</a>
                    </div>
                </div>
            </div>
            <a class="close-popup fs-12" href="" id="closePopup">Zavřít nemám zájem <img class="ml-2" src="/images/svg/popup_close_icon.svg" alt="close"></a>
        </div>
    </div>
</div>
