{% block _post_images_entry_widget %}
    <div class="row ">
        <div class="col-md-3">
            Obrázek
            {{ form_widget(form.imageFile) }}
            {{ form_errors(form.imageFile) }}
        </div>
        <div  class="col-md-2">
            Pořadí
            {{ form_widget(form.imageOrder) }}
        </div>
        <div class="col-md-7">
            Popis
            {{ form_widget(form.description) }}
        </div>
        {{ form_errors(form) }}
        {{ form_help(form) }}
    </div>
{% endblock %}
