{% extends 'base.html.twig' %} {% block body %}
    <div class="container pb-5">
        <h2 style="font-size: 30px;" class="text-primary text-center mt-5 text-uppercase">redakce</h2>
        {% include 'components/breadcrumb_navigation.html.twig' with breadcrumbs %}
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="row">
              {% for member in redactionMembers %}
              <div class="col-md-6 mb-4">
                <h3 class="text-uppercase fs-20 font-pt-serif text-primary">
                  {{ member['name'] }}
                </h3>
                <p>{{ member['position'] }}</p>
                <div class="d-flex align-items-center"><img class="mr-2" src="/images/svg/email.svg" alt="email"><div>{{ member['email'] }}</div></div>
                  {% if member['phone'] %}
                <div class="d-flex align-items-center"><img class="mr-2" src="/images/svg/phone.svg" alt="phone"><div>+420{{ member['phone'] }}</div></div>
                  {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div>
          <div id="inzerce" class="text-uppercase font-weight-extra-bold text-primary d-flex align-items-center border-top pt-3 my-5 border-width-2"><img class="mr-2" src="/images/svg/inzerce.svg" alt="inzerce">inzerujte u nás</div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div>
              <h2 class="text-uppercase pb-5">inzerujte s námi</h2>
                <p>Využijte možnost oslovit cílovou skupinu našich pravidelných čtenářů.</p>

                <p>Možnosti pro Vaši reklamu na našich stránkách mohou mít podobu bannerové reklamy nebo komerčních článků.</p>

                <p>Jsme rovněž otevření komerčním partnerství většího rozsahu (partnerství jednotlivých rubrik po danou dobu, videoobsahu nebo fotogalerií).</p>

                <p>Pro případ komerčních sdělení nabízíme také možnost využití našeho týmu reportérů, copywrighterů a fotografů (cena je pak sestavena na základě konkrétní domluvy).</p>

                <p>Chcete vyzkoušet něco netradičního? Žádný problém – jsme otevření novým nápadům a kreativním řešením.</p>

                <p>Stačí nám napsat na <a href="mailto:honza.mikulecky@city-dog.cz">honza.mikulecky@city-dog.cz</a></p>

                <div class="mb-4">
                <p class="text-uppercase font-weight-bold">kontaktní osoba</p>
                <div class="font-pt-serif text-uppercase">
                  jan mikulecký
                </div>
                <div class="font-pt-serif">+420724873921</div>
                <div class="font-pt-serif">honza.mikulecky@city-dog.cz</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
{% endblock %}